$primary-color: #ffbc00;
$secondary-color: #ccc;
$light-color: #eeeeee;
$medium-color: #f0f5f9;
$dark-color: #393e46;
$bg-image: url('../img/showcase.jpg');
$font-stack: 'Dosis',
sans-serif;
$max-width: 1280px;