@import url('https://fonts.googleapis.com/css?family=Dosis');
@import 'variables';
@import 'functions';
@import 'utilities';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: $font-stack;
    line-height: 1.4;
}

p {
    margin: .75rem 0;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

ul {
    list-style: none;
}

footer {
    .footer-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .footer-links-container {
            width: 250px;
            display: flex;
            justify-content: space-around;

            .icon-container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 50%;
                font-weight: bold;
                border: 2px solid $light-color;
            }
        }
    }
}

@keyframes work {
    to {
        top: -60px;
    }
}

@keyframes text {
    to {
        top: 60px;
    }
}

// shared headers
#about,
#contact,
#work {
    @extend %header-shared;
}

// home page styling

#home {
    position: relative;
    height: 100vh;
    background: url('../img/showcase.jpg') no-repeat center center/cover;
    display: flex;
    flex-direction: column;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba($color: #000000, $alpha: .2);
        z-index: 0;
    }

    nav {
        position: relative;
        z-index: 1;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu-navbar {
            width: 350px;
            display: flex;
            align-items: center;
            justify-content: space-around;

            li {
                &:hover {
                    .hidden-underline {
                        border: 1.5px solid rgba(238, 238, 238, 1);
                    }
                }
            }
        }
    }

    .showcase-container {
        z-index: 1;
        flex: 50;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

#specializes {

    .skills-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: .75rem;
        margin-top: 2rem;
    }
}

#achievements {
    .achievements-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);

        .achievement {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p:first-child {
                font-weight: 500;
            }

            p:last-child {
                font-weight: bold;
            }
        }

        .achievement:nth-child(even) {
            background-color: $secondary-color;
        }

        .achievement:nth-child(odd) {
            background-color: $medium-color;
        }
    }
}

#process {
    .process-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: .75rem;
        margin-top: 2rem;

        .process {
            .icon-container {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 130px;
                margin: 2rem auto;
                height: 130px;
                background-color: $dark-color;
                border-radius: 50%;

                &:hover {
                    .number {
                        background-color: $dark-color;
                    }

                    background-color: $primary-color;
                    @include transform(scale(1.1));
                }

                .number {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    position: absolute;
                    right: 0;
                    top: 0;
                    z-index: 1;
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    font-weight: bold;
                }
            }

            i {
                z-index: 0;
            }
        }
    }
}

// about page styling

#about-me {

    .about-me-container {
        margin: 2rem 0;
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-gap: 1.5rem;

        .about-photo {
            img {
                width: 100%;
            }
        }

        .about-content {
            border-left: 3px solid $primary-color;

            h5 {
                margin-top: 1rem;
            }
        }
    }
}

#awards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .75rem;
}

#technical-skills {
    .mx-heading {
        text-align: start;
    }
}


#technologies {
    .technologies-container {
        display: flex;
        align-items: center;
        justify-content: space-around;

        img {
            width: 200px;
            margin: .5rem .5rem;
        }
    }
}

#testimonials {

    .testimonial-container {
        display: grid;
        grid-template-areas:
            "testimonial1 testimonial2 testimonial3 testimonial4"
            "caption1 caption2 caption3 caption4";
        grid-gap: .5rem;
        grid-template-columns: repeat(4, 1fr);

        .testimonial {
            border: 1px solid $dark-color;
            border-radius: 5px;
        }

        #testimonial1 {
            grid-area: testimonial1;
        }

        #testimonial2 {
            grid-area: testimonial2;
        }

        #testimonial3 {
            grid-area: testimonial3;
        }

        #testimonial4 {
            grid-area: testimonial4;
        }

        figure {
            margin: 1rem 0;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 50px;
                border-radius: 50%;
                margin-right: 1rem;
            }
        }

        #figure1 {
            grid-area: caption1;
        }

        #figure2 {
            grid-area: caption2;
        }

        #figure3 {
            grid-area: caption3;
        }

        #figure4 {
            grid-area: caption4;
        }
    }
}

// work page

#works {

    h3 {
        margin-top: 2rem;
    }

    .my-work-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 300px;
        box-shadow: 5px 10px 18px 10px #888888;

        .my-work-content {
            overflow: hidden;
            position: relative;

            img {
                width: 100%;
                height: 100%;
                transition: transform .9s ease;
            }

            &:hover {
                img {
                    @include transform(scale(1.1));
                }

                .animation {
                    @extend %work-animation-shared;
                    animation: work 1s forwards ease-out;
                }

                .text {

                    .heading,
                    .m-heading {
                        @extend %text-animation-shared;
                        animation: text .8s forwards ease-in-out;
                        font-weight: bold;
                    }

                    .m-heading {
                        font-weight: 100;
                    }
                }
            }
        }
    }
}

// contact me page

#contact-me {

    form {
        margin-top: 2rem;
    }

    .inputs-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 40px 40px 120px;
        grid-gap: 1rem;

        ::placeholder {
            padding-left: 1rem;
        }

        textarea {
            grid-column: 1 / span 2;
            padding-top: 1rem;
        }
    }

    input[type=submit] {
        margin-top: 4rem;
        width: 50%;
    }
}

.contact-info-container {
    display: flex;
    align-items: center;
    justify-content: space-around;

    .contact-info-content {

        h4 {
            margin-top: 1rem;
        }
    }
}

@import 'media';